.gitattributes
.gitignore
.npmignore
config.js
make.js
.travis.yml
.settings
*~
*.diff
*.patch
/*.html
.svn
*/.svn
.DS_Store
.externalToolBuilders
.buildpath
.project

README.md

build/*
coverage/*
docs/*
perf/*
src/*
test/*
