.gitattributes
.gitignore
.npmignore
config.js
make.js
.travis.yml
.settings
*~
*.diff
*.patch
/*.html
.svn
*/.svn
.DS_Store
.externalToolBuilders
.buildpath
.project
build/.sizecache.json
build/.coveragecache.json

README.md

src/*
build/*
test/*
perf/*
coverage/*
